

* {
    margin: 0px;
    padding: 0px;
}

/*
h1{
    font-size: 15px;
}
*/

body{
    font-family: display, 
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    text-align: left;
    background-color: #242424;
}

#wrapper {
   
    max-width: 1200px;
    margin:20px 0px;
    background-color: #3b3b3b;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
;
    
    
}


header{
    background-color:antiquewhite;
}
#logo{
    float:left;
    padding:4px 12px 0px 8px;
    color:#0093ff;
    font-size: 30px;
}
/*------------ Menu Links ------------------*/

#MenuLinks ul {

    list-style-type: none;
    margin: 0;
    padding: auto;
    overflow: hidden;
    background-color: #242424;
}

#MenuLinks li{
  
    display: inline-block;
    padding: 5px;
    float:left;

    
}


#MenuLinks a {
    display: block;
    color:#0093ff;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px
}

#MenuLinks li:hover {
    background-color: #3b3b3b;
        
}


/*
.active {
    background-color: forestgreen;
}
*/



    
/*-------------Content---------*/

#ContentContainer{
    display:  -webkit-box;
     -webkit-box-orient: horizontal;
}
    
#MainContent{
/*        min-width: 600px;*/
/*        float: left;*/
        width: 660px;
        margin: 30px;
/*        -webkit-box-flex: 1;*/
        border: 2px solid red;
        border-radius: 5px;

    }

#News{
    color:beige;
    max-width: 600px;
    margin: 10px 0px;
    padding: 10px;
    border-left: 2px solid white;
  
    
}

footer {
    color: beige;
    text-align: center;
    padding:20px;
    background-color: #242424;
    
}